@import url('http://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
    border:0;
}
/*section->main*/
.main{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    position: relative;
    max-width: 80px;
}
header ul {
    position: relative;
    display: flex;
}
header ul li {
    list-style: none;
    
}
header ul li a{
    display: inline-block;
    color: #333;
    font-weight: 400;
    text-decoration: none;
    margin-left: 40px;
}
.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .textBox{
    position: relative;
    max-width: 600px;
}
.content .textBox h2{
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 600;
}
.content .textBox h2 span{
    color: #017143;
    font-size: 1.2em;
    font-weight: 900
}
.content .textBox p{
    color: #333;
}
.content .textBox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1pz;
    text-decoration: none;
}

.content .imgBox{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
    
}
.content .imgBox img{
    max-width: 340px;
}
.thumb {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}
.thumb li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}
.thumb li:hover{
    transform: translateY(-15px)
}
.thumb li img{
    max-width: 60px;
}
.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #017143;
    clip-path:circle(600px at right);
}
/*컨텐츠탭버튼*/
.tab_content {text-align:center;font-size:0; position: relative;
}
input[type="radio"] {display:none;} /* input을 안보이게 처리 */
input[type="radio"] + label { display:inline-block;padding: 20px 50px; background:#f5f5f5;color:#999;font-size:15px; font-weight: 800; cursor:pointer; width: 49.99%;} /* 버튼 공통 속성 */
input[type="radio"]:checked + label {background:#999;color:#000;} /* 선택된 버튼속성 */

.conbox {min-height: 300px; background:#999;margin:0 auto;display:none;text-align:left;font-size:12px;padding:20px;box-sizing:border-box; overflow: hidden;} /* 컨텐츠박스 공통 속성 */
input[id="tab01"]:checked ~ .con1 {display:block;} /* 인풋에 체크가 해당 요소보이게 설정 */
input[id="tab02"]:checked ~ .con2 {display:block;}


.con1 .wrap1{
    display: flex;
    width: 100%;
}
.inner1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 20px 100px;
}
.inner1 .textbox {
    font-weight: 500;
    line-height: 2em;
    font-size: 15px;
    color: white;
}
.inner1 .textbox h2{
    margin-bottom: 10px;
}
.textbox .text{
    border-top: 1px solid #111;
    margin: 20px 0;
    padding-top: 20px;
}
.textbox strong{
    color: black;
}
.con1 a{
    display: inline-block;
    padding: 8px 20px;
    background: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 600;
    letter-spacing: 1pz;
    text-decoration: none;
    margin-left: 10px;
    font-size: 14px
}
.inner1 .gift {
    margin: 20px 10px 0 10px 
}

.inner2{
    width: 100%;
    padding: 20px 100px;
}
.bean{
   position: relative;
    width: 100%;
    min-height: 300px;
    padding: 50px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fffff8;
}
.bean .inner{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.bean .inner .right{
    position: relative;
    max-width: 400px;
}
.bean .inner .right a{
    position: absolute;
    left: 50%;
    transform: translate(-70%);
    display: inline-block;
    margin: 20px ;
    padding: 8px 20px;
    background: #fff;
    color: #888;
    border-radius: 10px;
    font-weight: 500;
    text-decoration: none;
    border: 1px solid black;
}
.bean .inner .right a:hover{
    background: #000000;
    transition: 1.5s;
    color: white;
    text-decoration:underline;
}
/*introduce .motion*/
@keyframes slid-left{
    0%{opacity: 0}
    10%{opacity: 0; transform: translateX(-100px);}
}
@keyframes slid-right{
    0%{opacity: 0}
    10%{opacity: 0; transform: translateX(100px);}
}
.bean .inner .left.motion{
    animation-name: slid-left; 
    animation-duration: 2.5s;
}
.bean .inner .right.motion {
    animation-name: slid-right; 
    animation-duration: 2.5s;
}
.reserve{
    background: url(img/reserve_hawaii_beans.jpg)no-repeat;
    width: 100%;
    min-height: 400px;
    background-size: cover;
}

.reserve2 .inner .left.motion{
    animation-name: slid-left; 
    animation-duration: 2.5s;
}
.reserve2 .inner .right.motion {
    animation-name: slid-right; 
    animation-duration: 2.5s;
}
.reserve2{
    position: relative;
    width: 100%;
    min-height: 300px;
    padding: 50px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.reserve2 .inner{
    position: relative;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    
}
.reserve2 .inner .left{
    border-right: 1px solid;
    padding: 40px;
    margin-right: 40px;
}
.reserve2 .inner .right{
    border-bottom: 1px solid;
    padding-bottom: 40px;
    max-width: 600px;
}

/*footer영역*/
.footer {
    width: 100%;
    position: relative;
    background: rgb(38, 38, 38);
    padding: 90px 120px;
    box-sizing: border-box;
}
.footer .lastimg{
    position: relative;
    display: flex;
    justify-content: space-between;  
}
.footer .lastinfo{
    display: flex;
    justify-content: space-between;
    padding-top: 60px
}
.footer .lastinfo a{
    color: #bababa;
    text-decoration: none;
    font-size: 11px;
    
}
.footer .lastinfo a:before{
    content: '';
    border-right: 1px solid #939393;
    margin-right: 20px;
}
.footer .lastinfo a:nth-child(1){
    color: #01f591
}
.footer .lastinfo a:nth-child(1):before{
    border-right: none;
    margin-right: 0;
}
.footer .lastbtn{
    position: relative;
    display: flex;
    justify-content: center;
   
}
.footer .lastbtn a{
    margin: 15px 5px;
    padding: 4px 20px;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    border: 2px solid #ffffff;
    font-size: 11px
}

.footer .last {
    color: #fff;
    font-size: 11px;
    display: flex;
    justify-content: center;
    max-width: 600px;
    position: relative;
    flex-wrap: wrap;
    left: 50%;
    transform: translateX(-50%);
    line-height: 3em
}

