@import url('http://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins','Gothic A1';
    border:0;
}
/*section->main*/
.main{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}
header{
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo{
    position: relative;
    max-width: 80px;
}
header ul {
    position: relative;
    display: flex;
    
}
header ul li {
    list-style: none;
    position: relative; 
    width: 130px;
    text-align: center;
    padding: 10px;
    background-color: rgba(199, 199, 199, 0.24);
}

header ul li a{
    display: inline-block;
    color: #333;
    font-weight: 400;
    text-decoration: none;
    
    
    
}

header ul li .submenu{position: absolute; width: 100%; left: 0; top: 44px; display: none; z-index: 99;}
header ul li .submenu li{background: rgba(42, 42, 42, 0.88);}
header ul li .submenu li a{ color: #fff; font-size: 12px }
header ul li .submenu li:hover{background-color: rgba(255, 255, 255, 0.88);}
header ul li .submenu li:hover a{ color: #000}
.content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content .textBox{
    position: relative;
    max-width: 600px;
}
.content .textBox h2{
    color: #333;
    font-size: 4em;
    line-height: 1.4em;
    font-weight: 600;
}
.content .textBox h2 span{
    color: #017143;
    font-size: 1.2em;
    font-weight: 900
}
.content .textBox p{
    color: #333;
}
.content .textBox a{
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1pz;
    text-decoration: none;
    transition: 0.4s
}
.content a:hover{background: #000000;
    color: #fff;}

.content .imgBox{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    margin-top: 50px;
    
}
.content .imgBox img{
    max-width: 340px;
}
.thumb {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
    display: flex;
}
.thumb div{}
.thumb li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.5s;
}
.thumb li:hover{
    animation-play-state: paused
}
.thumb li:nth-child(1){
    animation-name: thumbAni;
    animation-duration: 1s;
    animation-delay: 0;
    animation-iteration-count: infinite;
}
.thumb li:nth-child(2){
    animation-name: thumbAni;
    animation-duration: 1s;
    animation-delay: 0.8s;
    animation-iteration-count: infinite;
}
.thumb li:nth-child(3){
    animation-name: thumbAni;
    animation-duration: 1s;
    animation-delay: 1.6s;
    animation-iteration-count: infinite;
}
@keyframes thumbAni{
    50%{transform: translateY(-15px)}
    100%{transform: translateY(0px)}
    
}
.thumb li img{
    max-width: 60px;
}
.circle{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #017143;
    clip-path:circle(600px at right);
}
/*컨텐츠탭버튼*/
.tab_content {text-align:center;font-size:0; position: relative;
}
input[type="radio"] {display:none;} /* input을 안보이게 처리 */
input[type="radio"] + label { display:inline-block;padding: 20px 50px; background:#f5f5f5;color:#999;font-size:15px; font-weight: 800; cursor:pointer; width: 49.99%;} /* 버튼 공통 속성 */
input[type="radio"]:checked + label {background:#999;color:#000;} /* 선택된 버튼속성 */

.conbox {min-height: 300px; background:#999;margin:0 auto;display:none;text-align:left;font-size:12px;padding:20px;box-sizing:border-box; overflow: hidden;} /* 컨텐츠박스 공통 속성 */
input[id="tab01"]:checked ~ .con1 {display:block;} /* 인풋에 체크가 해당 요소보이게 설정 */
input[id="tab02"]:checked ~ .con2 {display:block;}


.con1 .wrap1{
    display: flex;
    width: 100%;
}
.inner1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 20px 100px;
}
.inner1 .textbox {
    font-weight: 500;
    line-height: 2em;
    font-size: 15px;
    color: white;
}
.inner1 .textbox h2{
    margin-bottom: 10px;
}
.textbox .text{
    border-top: 1px solid #111;
    margin: 20px 0;
    padding-top: 20px;
}
.textbox strong{
    color: black;
}
.con1 a{
    display: inline-block;
    padding: 8px 20px;
    background: #017143;
    color: #fff;
    border-radius: 40px;
    font-weight: 600;
    letter-spacing: 1pz;
    text-decoration: none;
    margin-left: 10px;
    font-size: 14px;
    transition: 0.4s
}
.con1 a:hover{background: #000000;}
.inner1 .gift {
    margin: 20px 10px 0 10px 
}

.inner2{
    width: 100%;
    padding: 20px 100px;
}
.bean{
   position: relative;
    width: 100%;
    min-height: 300px;
    padding: 50px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:573px; background-image:url('https://image.istarbucks.co.kr/img/event/2021/2021_summer2_bean_bg.jpg'); background-position:center; background-size:cover;
}
.bean .inner{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.bean .inner .right{
    position: relative;
    max-width: 400px;
}
.bean .inner .right a{
    position: absolute;
    left: 17%;
    transform: translate(-70%);
    display: inline-block;
    margin: 20px ;
    padding: 8px 20px;
    background: transparent;
    color: #888;
    border-radius: 10px;
    font-weight: 500;
    text-decoration: none;
    border: 1px solid black;
}
.bean .inner .right a:hover{
    background: #000000;
    transition: 1.5s;
    color: white;
    text-decoration:underline;
}
/*introduce .motion*/
@keyframes slid-left{
    0%{opacity: 0}
    10%{opacity: 0; transform: translateX(-100px);}
}
@keyframes slid-right{
    0%{opacity: 0}
    10%{opacity: 0; transform: translateX(100px);}
}
.bean .inner .left.motion{
    animation-name: slid-left; 
    animation-duration: 2.5s;
}
.bean .inner .right.motion {
    animation-name: slid-right; 
    animation-duration: 2.5s;
}
/*
.reserve{
    background: url(img/reserve_hawaii_beans.jpg)no-repeat;
    width: 100%;
    min-height: 450px;
    background-size: cover;
    background-position: center bottom
}
*/
.reserve1{width: 100%; background-image: url(img/fav_prod_bg_new.jpg); height: 700px; background-size: cover; background-position: center; background-attachment: fixed}
.reserve1 .reserve1Inner{display: flex; justify-content: space-between; width: 100%; height: 100%; }
.reserve1 .reserve1Inner .reserve1L{width: 45%;  height: 100%; color: #fff; padding: 80px; position: relative}

.reserve1 .reserve1Inner .reserve1L span:nth-child(1){display: block; color: #fff; font-size: 96px; text-align: right; font-weight: 600; margin-bottom: -0.4em}
.reserve1 .reserve1Inner .reserve1L span:nth-child(2){display: block; color: #fff; font-size: 86px; text-align: right;font-weight: 600; margin-bottom: -0.4em}
.reserve1 .reserve1Inner .reserve1L span:nth-child(3){display: block; color: #fff; font-size: 50px; text-align: right;font-weight: 600}
.reserve1 .reserve1Inner .reserve1L p, 
.reserve1 .reserve1Inner .reserve1L span{text-align: right; display: block;} 
.reserve1 .reserve1Inner .reserve1L p{font-size: 24px; font-weight: 600}
.reserve1 .reserve1Inner .reserve1L span{font-size: 16px}
.reserve1 .reserve1Inner .reserve1L button{border: 2px solid #fff; padding: 10px 30px; font-size: 14px; background-color: transparent; border-radius: 30px; color: #fff; position: absolute; right: 80px; margin: 10px 0; margin: 20px 0px ;padding: 8px 20px;
    background: transparent;  border-radius: 10px; font-weight: 500; text-decoration: none; border: 1px solid #fff; cursor: pointer}
.reserve1 .reserve1Inner .reserve1L button:hover{background: #fff;
    transition: 1.5s;
    color: #000;
    text-decoration:underline;}
.reserve1 .reserve1Inner .reserve1R{width: 55%; height: 100%; position: relative}
.reserve1 .reserve1Inner .reserve1R .stImg{background-image: url(img/2021_summer2_fav.png); width: 80%; height:80%; background-size: contain; background-position: center; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); background-repeat: no-repeat}

.reserve2 .inner .left.motion{
    animation-name: slid-left; 
    animation-duration: 2.5s;
}
.reserve2 .inner .right.motion {
    animation-name: slid-right; 
    animation-duration: 2.5s;
}
.reserve2{
    position: relative;
    width: 100%;
    min-height: 300px;
    padding: 50px 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.reserve2 .inner{
    position: relative;
    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    
}
.reserve2 .inner .left{
    border-right: 1px solid;
    padding: 40px;
    margin-right: 40px;
}
.reserve2 .inner .right{
    border-bottom: 1px solid;
    padding-bottom: 40px;
    max-width: 600px;
}

/*footer영역*/
.footer {
    width: 100%;
    position: relative;
    background: rgb(38, 38, 38);
    padding: 90px 120px;
    box-sizing: border-box;
}
.footer .lastimg{
    position: relative;
    display: flex;
    justify-content: space-between;  
}
.footer .lastinfo{
    display: flex;
    justify-content: space-between;
    padding-top: 60px
}
.footer .lastinfo a{
    color: #bababa;
    text-decoration: none;
    font-size: 11px;
    
}
.footer .lastinfo a:before{
    content: '';
    border-right: 1px solid #939393;
    margin-right: 20px;
}
.footer .lastinfo a:nth-child(1){
    color: #01f591
}
.footer .lastinfo a:nth-child(1):before{
    border-right: none;
    margin-right: 0;
}
.footer .lastbtn{
    position: relative;
    display: flex;
    justify-content: center;
   
}
.footer .lastbtn a{
    margin: 15px 5px;
    padding: 4px 20px;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    border: 2px solid #ffffff;
    font-size: 11px
}

.footer .last {
    color: #fff;
    font-size: 11px;
    display: flex;
    justify-content: center;
    max-width: 600px;
    position: relative;
    flex-wrap: wrap;
    left: 50%;
    transform: translateX(-50%);
    line-height: 3em
}
.footer .last p:last-child{
    color: #717171;
    font-size: 13px
}
